.list {
    $self: &;
    margin-bottom: 30px;

    &__add {
        &-btn {
            opacity: .4;
            transition: 1s all;

            &:hover {
                opacity: 1;
            }
        }
    }

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 12px;

      &:hover #{$self}__remove-icon {
        opacity: .25;
      }

      #{$self}__remove-icon {
        opacity: 0;
  
        &:hover {
          opacity: .75;
        }
      }

      span {
        flex: 1;
      }

      &:hover {
        background: rgba(255, 255, 255, .4);
      }

      &.active {
        background: #FFFFFF;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.03);
        border-radius: 4px;
      }

      .badge {
        position: relative;
        left: 5px;
      }

    }
    i {
      display: inline-flex;
      margin-right: 8px;  
      svg {
        path {
          fill: #b9b7b7;
        }
      }
    }
  }